*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}



nav {
    padding: 15px 30px;
    display: flex;
    justify-content: flex-end; 
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.logo-container {
    text-align: center;
    margin-bottom: 30px;
}

.logo-container img {
    width: 300px; /* Taille officielle Google */
    height: auto;
  }


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main img{
    width: 400px;
    height: 200px;
}

input {
    width: 600px;
    padding: 14px 50px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    font-size: 16px;
}

.add img{
    width: 30px;
    height: 30px;
}