*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}



nav {
    padding: 15px 30px;
    display: flex;
    justify-content: flex-end; 
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links a {
    text-decoration: none; 
    color: black; 
    font-family: Arial, sans-serif;
}

.menu-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.avatar {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    object-fit: cover;
}

.logo-container {
    text-align: center;
    margin-bottom: 30px;
}

.logo-container img {
    width: 500px; 
    height: auto;
    max-width: 100%;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main img{
    width: 400px;
    height: 200px;
}

.search-bar {
    width: 600px;
    max-width: 90%;
}

input {
    width: 100%;
    padding: 14px 50px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    font-size: 16px;
}

.plus{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.plus-icon-container {
    background-color: #f0f0f0;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.plus img{
    width: 30px;
    height: 30px;
    background-color: #f0f0f0; 
   
}

.add-text {
    color: #5f6368;
    font-size: 18px;
}